
body{

    margin: 0;
    padding: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
    }
    p{
    color: #777777
    }
    h1{
    color: #4aaaa5;
    }

/* Working on the header*/
header{
border: 1px sold #cccccc;
background:#FFFFFF;
font-family: 'Georgia', Times, Times New Roman, serif;
width:100%;
white-space: nowrap;
border-bottom:1px solid #D6D6D6 ;
}
/* finishing up the  header*/

/* Working on Navbar */
nav{
width: 50%;
display: inline-block;
}
nav ul li{

list-style-type: none;
float: left;
margin-left: 60px;
box-sizing: border-box;

}
nav ul li a{
text-decoration: none;
color:#4aaaa5;
font-size:1.5rem;
}
/* finishing on Navbar */
/*start  h1 wrapper */
.wrapper-1{

width: 50%;
display: inline-block;

}
.wrapper-1 h1{
    background-color: #4aaaa5;
    margin: 0 auto;
    color: white;;
    width:30%;
    padding: 30px;
}
/* end h1 wrapper */
.clear::after {
    content: " ";
    display: block;
    clear: both;
  }
  /*conatiner starts */


  .container{

  background-image: url("../images/herringbone.png");
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:0;
  padding:30px 0;
  width: 100%;
  height: 100%;
  
  }
  /*container ends*/
 aside{
    
    padding: 30px;
    max-width:960px;
    min-width: auto;
    margin: 0 auto;
    height: 400px;
    background-color:#ffffff;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}
/* potfolio starts*/
.portfolio-aside{
height: 490px;
}
/*portfolio ends */
/*h1 block */
  .h1-block-1{
  color: #4aaaa5;
  padding: 10px 5px;
  border-bottom: 1px solid #4aaaa5;
  width:100%;
  }

  .p-block-1 p{
  display: inline-block;
  max-width: 74%;
  min-width: 30%;
  }
  
  .p-block-1 img{
  display: inline-block;
  width:25%;
  height: auto;
}
.p-block-1B{
margin-top: 15px;
}
/*h1 block ends */
/* footer begins*/
footer{
position: fixed;
bottom: 0;
background-color: #666666;
width: 100%;
height: 50px;
color: #AABAB5;
text-align: center;
padding-top: 20px;;
box-sizing: border-box;
}
/* footer ends*/
/* form begins*/
.fullName, .email, .message{
margin-top: 15px;
margin-left: 10px;
margin-right: 10px;
}
.fullName input,.email input{
width:100%}
.message textarea{
width:100%;
height: 70px;
}
button{
margin-top: 10px;
color:white;
background-color: #4aaaa5;
padding: 5px 10px;
margin-left: 10px;
}
/*form ends */
/* gallary begins*/
.box{
position: relative;
display: inline-block;
margin-left: 10px;
margin-top: 13px;
}
.box img{
height: 100px;
width: 200px;
}

.p-statement{
position: absolute;
bottom: -7px;
left: 0;
}
.row-1 .box .p-statement p{
background-color: #4aaaa5;
padding: 10px;
text-align: center;
color: #e6f9fa;
}
.row-1 .box .p-statement{
width: 100%;

}
.row-2 .box .p-statement p{
  background-color: #4aaaa5;
  padding: 10px;
  text-align: center;
  color: #e6f9fa;
  }
  .row-2 .box .p-statement{
  width: 100%;

  }
  .row-3 .box .p-statement p{
    background-color: #4aaaa5;
    padding: 10px;
    text-align: center;
    color: #e6f9fa;
    
    }
    .row-3 .box .p-statement{
    width: 100%;
 
    }
    /* Gallary ends*/